<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>

    @for (user of userList; track $index) {

    <tr>
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
    </tr>
    }
  </tbody>
</table>




<button (click)="refreshWeather()">Refersh weather</button>

@if(weatherData$ | async; as weatherData){

<ul>
  @for (weather of weatherData; track weather.date) {

  <li>{{weather.summary}}</li>
  }
</ul>

}

@else{
Loading...
}